/* 헤더(경로 부분) */
div, span, header, section {
    border: 1px solid black;
}

body {
    width: 920px;
    display: flex;
}
.side {
    width: 300px;
}
main {
    width: 620px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
header {
    border-bottom: 2px solid black;
    padding: 15px 0px;
    margin-bottom: 10px;
}

#writeButton {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}