/* 헤더(경로 부분) */
div, span, header, section {
    /* border: 1px solid black; */
}

body {
    width: 940px;
    display: flex;
}
.side {
    width: 300px;
}
main {
    width: 640px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    /* overflow-y: auto; */
}
header {
    border-bottom: 2px solid black;
    padding: 20px 0px 5px;
    width: 640px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}


#writeButton {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* ------------------------------------------ */
/* 사이드바 */
.sideBarLink {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 20px;
}
.sideBarLink > a {
    padding-bottom: 15px;
}

.fa-heart {
    font-size: 18px;
}
/* ------------------------------------------ */
/* 우측 타이틀 */
.rightTitle {
    font-size: 25px;
    font-weight: bold;
}


.searchArea {
    position:relative;
}
.fa-magnifying-glass{
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
}
.whiteBtn{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.fa-store {
    font-size: 25px;
}
.storeLinkArea {
    display: flex;
    align-items: center;
}

/* ------------------------------------------ */
/* 폰트 리스트 */
.fontArea {
    display: flex;
    flex-direction: column;
}

.fontHeader{
    margin-top: 20px;
    border-top: 2px solid #aaa;
    background-color: rgba(0,0,0,0.05);
}


.fontHeader, .fontMain {
    display: flex;
}
.fontHeader>div, .fontMain>div{
    padding: 10px 5px;
}

.fontHeader>div:nth-child(1), .fontMain>div:nth-child(1){
    flex-basis: 25%;
    padding-left: 5px;
    border-right: 3px solid #eee;
}
.fontHeader>div:nth-child(2), .fontMain>div:nth-child(2){
    flex-basis: 60%;
    padding-left: 5px;
    border-right: 3px solid #eee;
}
.fontHeader>div:nth-child(3), .fontMain>div:nth-child(3){
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontHeader >div {
    font-size: 18px;
    /* color: #aaa; */
    /* font-weight: bold; */
    /* border-bottom: 2px solid rgba(0,0,0,0.7); */
    text-align: center;

}
.fontTitle{
    text-align: center;
}
.fontExample{
    text-align: center;
}
/* ------------------------------------------------ */
/* 친구 리스트 */
.friendArea {
    display: flex;
    flex-direction: column;
}
.profileImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
}
.listTitle {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 5px;

    font-weight: bold;
    color: rgba(0,0,0,0.7);
}
.friendDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friendImgName, .friendBtn {
    display: flex;
    align-items: center;
}
#minihomeImg {
    height: 20px;
    /* width: 30px; */
}
.minihomeLink{
    display: flex;
    align-items: center;
}
.minihomeLink {
    padding : 0 20px 0 20px;
}
.fa-minus {
    border:2px solid black;
    border-radius: 50%;
}
.deleteFriend {
    cursor: pointer;
}
.friendDetail{
    border-bottom: 3px solid #eee;
}

/* ----------------------------------------------------- */
/* 배경설정 */
.backgroundTitle {
    display: flex;
    justify-content: space-between;
}
.backgroundTitle {
    padding-top: 20px;
}
.backgroundExplain {
    color: #aaa;
    margin-right: 10px;
}
.backgroundExplain>p{
    padding-top: 5px;
    font-size: 14px;
}
#selectImgBtn {
    width: 50px;
    cursor: pointer;
}
#chooseImg {
    display: none;
}
.changeImgArea {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.changeColorArea {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom : 3px solid #eee;
}
.colorShow {
    width: 35px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-right: 20px;
}
.changeColorTitle {
    margin-right: 15px;
    cursor: pointer;
    /* border: 1px solid black; */
    background-color: var(--subColor);
    color: white;
    padding: 5px;
    border-radius: 3px;

}
.changeColorTitle:hover{
    transition-duration: 0.3s;
    background-color: var(--mainColor);
}
#chooseBGColor{
    display: none;
}
#chooseFrameColor {
    display: none;
}
.backgroundBtnArea>span:nth-child(2){
    margin: 5px;
}
.changeImgArea > .backgroundBtnArea {
    margin-left: 35px;
}
.bgImage {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border : 1px solid #eee;
}

/* ----------------------------------------------------- */
/* 메뉴설정 */
.menuHeader, .menuMain{
    display: flex;
}

.menuHeader > div:nth-child(2), .menuMain > div:nth-child(2){
    flex-basis: 15%;

    display: flex;
    justify-content: center;
}
.menuHeader > div:nth-child(3), .menuMain > div:nth-child(3){
    flex-basis: 60%;
}
.menuExample {
    color: #aaa;
}

.menuArea {
    display: flex;
}
.menuListArea{
    border: 1px solid black;
    width: 250px;
    margin-top: 20px;
}
.categoryTitle{
    font-size: 23px;
}
.subCategoryArea {
    margin-left: 20px;
    padding: 3px;

    display: flex;
    align-content: center;
}
.categoryArea {
    padding: 10px 0 3px;

    display: flex;
    align-content: center;
}






.category{
    height: 20px;
    width: 20px;
}
.subCategory{
    width: 15px;
    height: 15px;
}