


/* 헤더(경로 부분) */
div,
span,
header,
section {
    /* border: 1px solid black; */
}

body {
    /* width: 940px; */
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    overflow-y: auto;
    height: 500px;
    box-sizing: border-box;
}

.main::-webkit-scrollbar {
    display: none;
}

header {
    border-bottom: 2px solid black;
    padding: 20px 0px 5px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}


#writeButton {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* ------------------------------------------ */
/* 사이드바 */
.sideBarLink {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 17px;


}

.sideBarLink>a {
    padding: 8px 0;
    /* border-bottom: 1px solid var(--ink); */
}

.sideBarLink>a:hover {
    background-color: #eee;
    ;
}

.fa-check {
    font-size: 18px;
}

/* ------------------------------------------ */
/* 우측 타이틀 */
.rightTitle {
    font-size: 25px;
    font-weight: bold;
}


.searchArea {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    right: 5px;
    top: 3px;
    /* cursor: pointer; */
}

.whiteBtn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    height: 30px;
    font-size: 13px;

}

.whiteBtn:hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

.fa-store {
    font-size: 25px;
}

.storeLinkArea {
    display: flex;
    align-items: center;
}
.fa-caret-down {
    margin-right: 5px;
}

.dropdown-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* z-index: 5; */
    margin-left: 5px;
}


.dropdown {
    width: 80px;
    height: 0px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 0;
    overflow:hidden;
    transition-duration : 0.3s;
    z-index: 100;
}

.dropdown > div{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown > div:hover{
    background-color: #ececff;
}

/* ------------------------------------------ */
/* 폰트 리스트 */
.fontArea {
    display: flex;
    flex-direction: column;
}

.fontHeader {
    margin-top: 20px;
    border-top: 2px solid #aaa;
    background-color: rgba(0, 0, 0, 0.05);
}


.fontHeader,
.fontMain {
    display: flex;
}

.fontHeader>div,
.fontMain>div {
    padding: 10px 5px;
}

.fontHeader>div:nth-child(1),
.fontMain>div:nth-child(1) {
    flex-basis: 25%;
    padding-left: 5px;
    border-right: 3px solid #eee;
}

.fontHeader>div:nth-child(2),
.fontMain>div:nth-child(2) {
    flex-basis: 60%;
    padding-left: 5px;
    border-right: 3px solid #eee;
}

.fontHeader>div:nth-child(3),
.fontMain>div:nth-child(3) {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontHeader>div {
    font-size: 17px;
    /* color: #aaa; */
    /* font-weight: bold; */
    /* border-bottom: 2px solid rgba(0,0,0,0.7); */
    text-align: center;

}

.fontTitle {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fontExample {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fontUse {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rightFontTitleArea {
    display: flex;
}

#searchInput {
    margin-left: 20px;
}

/* ------------------------------------------------ */
/* 친구 리스트 */
.friendArea {
    display: flex;
    flex-direction: column;
}

.profileImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
}

.listTitle {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    /* margin-bottom: 5px; */

    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.friendDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendDetail:hover {
    background-color: #eee;
}

.friendImgName,
.friendBtn {
    display: flex;
    align-items: center;
}

#minihomeImg {
    height: 20px;
    /* width: 30px; */
}

.minihomeLink {
    display: flex;
    align-items: center;
}

.minihomeLink {
    padding: 0 20px 0 20px;
}

.deleteFriend {
    cursor: pointer;
}

.friendDetail {
    border-bottom: 3px solid #eee;
}
#searchBtn {
    /* top: 9px; */
    border: none;
    background-color: white;
}
/* ----------------------------------------------------- */
/* 배경설정 */
.backgroundTitleArea {
    display: flex;
    justify-content: space-between;

}

.backgroundTitleArea {
    padding-top: 20px;
}

.backgroundTitle {
    font-size: 17px;
}

.backgroundExplain {
    color: #aaa;
    margin-right: 10px;
}

.backgroundExplain>p {
    padding-top: 5px;
    text-align: end;
    /* font-size: 14px; */
}

#selectImgBtn {
    width: 50px;
    cursor: pointer;
}

#chooseImg {
    display: none;
}

.changeImgArea {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* margin-top: 15px; */
    margin-bottom: 30px;
    border-bottom: 3px solid #eee;
}

.changeColorArea {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 15px; */
    padding: 10px 0;
    border-bottom: 3px solid #eee;
}

.changeColorArea div:nth-child(1) {
    display: flex;
}

.colorShow {
    width: 35px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-right: 20px;
}

.changeColorTitle {
    margin-right: 15px;
    height: 30px;
    cursor: pointer;
    /* border: 1px solid black; */
    background-color: var(--subColor);
    color: white;
    padding: 5px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.changeColorTitle:hover {
    transition-duration: 0.3s;
    background-color: var(--mainColor);
}

#chooseBGColor {
    display: none;
}

#chooseFrameColor {
    display: none;
}

.backgroundBtnArea>span:nth-child(2) {
    margin: 5px;
}

.changeImgArea>.backgroundBtnArea {
    margin-left: 35px;
}

.bgImage {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #eee;
}
#allFriend {
    font-size: 13px;
}

/* ----------------------------------------------------- */
/* 메뉴설정 */
.menuHeader,
.menuMain {
    display: flex;
}

.menuHeader>div:nth-child(2),
.menuMain>div:nth-child(2) {
    flex-basis: 15%;

    display: flex;
    justify-content: center;
}

.menuHeader>div:nth-child(3),
.menuMain>div:nth-child(3) {
    flex-basis: 60%;
}

.menuExample {
    color: #aaa;
}


.menuLeftArea {
    border: 1px solid black;
    width: 250px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.categoryTitle {
    font-size: 23px;
}

.subCategoryArea {
    display: flex;
    flex-direction: column;
}

.subCategory {
    padding: 3px;
    padding-left: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    position: relative;
}

.categoryArea {
    padding: 7px 0;
    cursor: pointer;

    display: flex;
    align-content: center;
    position: relative;
}

.categoryArea:hover,
.subCategory:hover {
    background-color: #eee;
}

.homeCategoryArea:hover {
    background-color: white;
}

.category {
    height: 20px;
    width: 20px;
}

.subCategoryImg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}


.menuSaveArea {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#menuSaveBtn,
#menuSelectBtn {
    margin-right: 10px;
}

.checkedImg {
    height: 21px;
    width: 21px;
}

.menuTitle {
    font-size: 17px;
}

.menuLeftRight {
    display: flex;
}

.menuRightArea {
    border: 1px solid black;
    width: 370px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    height: 500px;
    overflow-y: scroll;
}

.clicked{
    border:2px solid #aaa;
}

.fa-plus{
    height: 20px;
    width: 20px;
    position:absolute;
    right: 0;
    top: 0;

    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.fa-plus:hover{
    background-color: black;
    color: white;
    border-radius: 50%;
}
#menuSelectCancelBtn{
    display: flex;
    align-content: center;
    justify-content: center;
}
.menuListArea {
    display: flex;
    flex-direction: column;
}

.menuOrder1{
    order : 1;
}
.menuOrder2{
    order : 2;
}
.menuOrder3{
    order : 3;
}
.menuOrder4{
    order : 4;
}


/* 폴더 내 게시글 조회 */
.menuRightArea {
    display: flex;
    flex-direction: column;
}

.menuRightTitle {
    font-size: 17px;
    width: 100%;
    padding: 5px auto;

    display: flex;
    flex-direction: column;
}
.folderNameArea{
    display: flex;
    font-size: 17px;
    margin-bottom: 20px;
}
.folderImg{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.myFile {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 5;
}
.myFile:hover{
    background-color: #eee;
}
.myFileNameArea {
    display: flex;
}
.fa-file {
    margin: 0 5px;
}
.dropdown-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fileUpdateBtnArea{
    display: flex;
}



/* dropdown */
.dropdown {
    width: 100px;
    height: 0px;
    background-color: white;
    position: absolute;
    /* top: 113px;
    right: -85px; */
    overflow:hidden;
    transition-duration : 0.3s;
    z-index: 20;
}

.dropdown > a{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown > a:hover{
    background-color: #ececff;
}


.openStatus{
    background-color: #eee;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    height: 30px;
    width: 65px;
    font-size: 13px;
    text-align: center;
}



/* ------------------------------------------------------ */
/* 배경음악 설정 */
.backgroundHeader, .backgroundMain{
    display: flex;
}
.backgroundHeader>div:nth-child(1), .backgroundMain>div:nth-child(1){
    flex-basis: 60% !important;
}
.backgroundHeader>div:nth-child(1), .backgroundMain>div:nth-child(1){
    flex-basis: 25% !important;
}