.musicTab{
    font-weight: bold;
    background-color: #eee;
}

/* ------------------------------------------------------ */
/* 배경음악 설정 */
.backgroundHeader, .backgroundMain{
    display: flex;
}
.backgroundHeader>div:nth-child(1), .backgroundMain>div:nth-child(1){
    flex-basis: 45%;
}
.backgroundHeader>div:nth-child(2), .backgroundMain>div:nth-child(2){
    flex-basis: 25%;
}
.backgroundHeader>div:nth-child(3), .backgroundMain>div:nth-child(3){
    flex-basis: 15%;
}
.backgroundHeader>div:nth-child(4), .backgroundMain>div:nth-child(4){
    flex-basis: 15%;
}
.backgroundMain>div:nth-child(1) {
    justify-content: flex-start;
    padding: 5px 10px;
}
.musicTitle{
    align-items: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.rightMusicTitleArea {
    display: flex;
}
.musicArea {
    display: flex;
    flex-direction: column;
}

.musicTitleArea {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}
.musicExample {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}
.musicListen {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.musicUse {
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}
.fontMain > div:nth-child(3){
    border-right: 3px solid #eee;
}
.fa-music {
    margin-right: 5px;
}
.musicThumbnail {
    height: 40px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-right: 5px;
}
.fa-play, .fa-stop{
    font-size: 20px;
    cursor: pointer;
}
.rightTitle{
    margin-right: 20px;
}
#searchInput {
    padding: 5px;
    width: 180px;
}
.fa-magnifying-glass{
    top: 5px;
    cursor: pointer;
    font-size: 17px;
}
.emptyMusicArea {
    margin: 20px auto;
}
.musicHeader {
    margin-top: 5px;
}
.musicArea >div:nth-child(1){
    display: flex;
    justify-content: flex-end;
}

#shopLink {
    cursor: pointer;
    font-size: 17px;
}
.originalMusic {
    background-color: rgb(0,0,0,0.03);
}