<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ComplainMapper">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름(반드시 지정!) -->

	<resultMap type="Complain" id="complain_rm">
   		<id property="complainNo" column="COMPLAIN_NO"/>
   		<result property="complainerNo" column="COMPLAINER_NO"></result>
   		<result property="complainedNo" column="COMPLAINED_NO"></result>
   		<result property="complainContent" column="COMPLAIN_CONTENT"></result>
   		<result property="complainCreate" column="C_CREATE"></result>
 	 </resultMap>
 	 
 	 
	
 	 
 	 
 	 
 	 
 
  
</mapper>
