<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notifications">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름(반드시 지정!) -->

	<resultMap type="notifications" id="notifications_rm">
   
		<id property="alarmNo" column="ALARM_NO"/>
		<result property="senderNo" column="SENDER_NO"></result>
		<result property="memberNickname" column="MEMBER_NICKNAME"></result>
		<result property="profileImage" column="PROFILE_IMG"></result>
		<result property="alarmType" column="ALARM_TYPE"></result>
		<result property="alarmCreate" column="ALARM_CREATE"></result>
		<result property="boardTypeName" column="BOARD_TYPE_NAME"></result>
		<result property="boardTitle" column="BOARD_TITLE"></result>
		<result property="readYN" column="READ_YN"></result>
		
	</resultMap>
 	 
	<!-- 활동알림 목록 조회  -->
	<select id="activityNotification" resultMap="notifications_rm">
		SELECT A.ALARM_NO, A.SENDER_NO, M.MEMBER_NICKNAME, M.PROFILE_IMG, ALARM_TYPE,READ_YN, 
		CASE  <![CDATA[
		     WHEN SYSDATE - A.ALARM_CREATE < 1/24/60
		     THEN FLOOR( (SYSDATE - A.ALARM_CREATE) * 24 * 60 * 60 ) || '초 전'
		     WHEN SYSDATE - A.ALARM_CREATE < 1/24
		     THEN FLOOR( (SYSDATE - A.ALARM_CREATE) * 24 * 60) || '분 전'
		     WHEN SYSDATE - A.ALARM_CREATE < 1
		     THEN FLOOR( (SYSDATE - A.ALARM_CREATE) * 24) || '시간 전'
		     WHEN SYSDATE - A.ALARM_CREATE < 30
		     THEN FLOOR(SYSDATE - A.ALARM_CREATE) || '일 전'
		     WHEN SYSDATE - A.ALARM_CREATE < 365
		     THEN FLOOR((SYSDATE-A.ALARM_CREATE)/30) || '달 전'
		     ELSE TO_CHAR(A.ALARM_CREATE, 'YYYY-MM-DD')
		   END]]> ALARM_CREATE, 
		   (SELECT BOARD_TYPE_NAME FROM BOARD_TYPE WHERE BOARD_TYPE_NO = A.BOARD_TYPE_NO) BOARD_TYPE_NAME,
		   CASE
		      WHEN A.BOARD_TYPE_NO = 2
		      THEN (SELECT A_TITLE FROM ALBUM WHERE ALBUM_NO = A.BOARD_NO)
		      WHEN A.BOARD_TYPE_NO = 3
		      THEN (SELECT V_TITLE FROM VIDEO WHERE VIDEO_NO = A.BOARD_NO)
		   END BOARD_TITLE
		FROM ALARM A
		JOIN MEMBER M ON(SENDER_NO = MEMBER_NO)
		WHERE RECEIVER_NO = #{loginMemberNo}
		ORDER BY ALARM_NO DESC
	</select>

	<!-- 알람 개별삭제 -->
	<delete id="messageDelete">
		DELETE FROM ALARM WHERE ALARM_NO = #{alarmNo}
	</delete>
	
	<!--알림 전체삭제  -->
	<delete id="messageDeleteAll">
		DELETE FROM ALARM WHERE ALARM_NO IN (${alarmNoList}) 
	</delete>
		
	<update id="alarmRead">
		UPDATE ALARM SET READ_YN = 'Y'
	WHERE ALARM_NO IN (${alarmNoList}) 
	AND READ_YN = 'N'
	</update>

 		
  
</mapper>
