<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름(반드시 지정!) -->

	<resultMap type="shop" id="shop_rm">
   
		<id property="fontNo" column="FONT_NO"/>
		<result property="fontName" column="FONT_NAME"></result>
		<result property="fontPath" column="FONT_PATH"></result>
		<result property="fontCount" column="FONT_COUNT_NO"></result>
		<result property="goodsNo" column="GOODS_NO"></result>
		
	</resultMap>
 	 

 	 <!-- 상점 최신폰트 목록 조회 -->
	<select id="shopNewFont"  resultMap="shop_rm">
		SELECT * FROM (
		SELECT FONT_NO, FONT_NAME ,FONT_PATH ,FONT_CREATER , NVL(COUNT_NO,0) FONT_COUNT_NO ,
		   CASE
		   WHEN FONT_NO IN (SELECT GOODS_NO 
		   FROM MEMBER_OWN_GOODS
		   WHERE MEMBER_NO = #{loginMemberNo} AND SHOP_CATH_NO = 1) THEN FONT_NO
		   ELSE 0 
		   END AS GOODS_NO
		FROM FONT_SHOP F
		LEFT JOIN (
		   SELECT COUNT(*) COUNT_NO, GOODS_NO
		   FROM MEMBER_OWN_GOODS
		   WHERE SHOP_CATH_NO = 1
		   GROUP BY GOODS_NO
		   ORDER BY COUNT_NO DESC
		) S ON (F.FONT_NO = S.GOODS_NO)
		ORDER BY FONT_NO DESC) 
		<![CDATA[WHERE ROWNUM <= 3]]>
	</select>
   
   <!-- 상점 상품 추가(폰트,배경음악,소품) -->
	<insert id="goodsAddButton">
		INSERT INTO MEMBER_OWN_GOODS 
		VALUES(SEQ_OWN_NO.NEXTVAL,#{loginMemberNo},#{shopCathNo},#{fontNo})
	</insert>
   
	<!-- 상점 인기폰트 목록 조회 -->
	<select id="shopPopularFont"  resultMap="shop_rm">
		SELECT * FROM (
		SELECT FONT_NO, FONT_NAME ,FONT_PATH ,FONT_CREATER , NVL(COUNT_NO,0) FONT_COUNT_NO ,
		   CASE
		   WHEN FONT_NO IN (SELECT GOODS_NO 
		   FROM MEMBER_OWN_GOODS
		   WHERE MEMBER_NO = #{loginMemberNo} AND SHOP_CATH_NO = 1) THEN FONT_NO
		   ELSE 0 
		   END AS GOODS_NO
		FROM FONT_SHOP F
		LEFT JOIN (
		   SELECT COUNT(*) COUNT_NO, GOODS_NO
		   FROM MEMBER_OWN_GOODS
		   WHERE SHOP_CATH_NO = 1
		   GROUP BY GOODS_NO
		   ORDER BY COUNT_NO DESC
		) S ON (F.FONT_NO = S.GOODS_NO)
		WHERE FONT_NO != 1
		ORDER BY FONT_COUNT_NO DESC, FONT_NO DESC) 
		<![CDATA[WHERE ROWNUM <= 3]]>
	</select>
	
	<!-- 폰트 상점 상품 갯수 구하기 -->
	<select id="shopFontCount" resultType="_int">
		SELECT COUNT(FONT_NO) FONT_COUNT  FROM FONT_SHOP
		WHERE FONT_NO != 1
	</select>
	
	<!-- 페이징 처리객체 사용하여 폰트 상점 상품 목록 조회 -->
	<select id="selectFontList" resultMap="shop_rm">
		SELECT FONT_NO, FONT_NAME ,FONT_PATH ,FONT_CREATER , NVL(COUNT_NO,0) FONT_COUNT_NO ,
		   CASE
		   WHEN FONT_NO IN (SELECT GOODS_NO 
		   FROM MEMBER_OWN_GOODS
		   WHERE MEMBER_NO = 3 AND SHOP_CATH_NO = 1) THEN FONT_NO
		   ELSE 0 
		   END AS GOODS_NO
		FROM FONT_SHOP F
		LEFT JOIN (
		   SELECT COUNT(*) COUNT_NO, GOODS_NO
		   FROM MEMBER_OWN_GOODS
		   WHERE SHOP_CATH_NO = 1
		   GROUP BY GOODS_NO
		   ORDER BY COUNT_NO DESC
		) S ON (F.FONT_NO = S.GOODS_NO)
		WHERE FONT_NO != 1
		ORDER BY FONT_NO DESC
	</select>
   
   
</mapper>
