.minihome-rayout:nth-child(2){
    position: relative;
}
.input-row label {
    width:90px;
    margin-left: 10px;

}
.input-row label:first-child{
    width: 100px;
    font-weight: bold;
    display: inline-block;
}

/* 입력창 단위 */
.input-row {
    border-bottom: 1px solid #ddd;
    padding: 6px 0px;
    display: flex;
    align-items: flex-start;
    /* font-size: 13px; */
    letter-spacing: -1px;
}
.input-row input[type='text'] {
    border: none;
    outline: none;
    width: 500px;
    /* font-size: 15px; */
}
.input-row textarea {
    resize: none;
    width: 60%;
    /* font-size: 15px; */
    /* padding: 10px; */
    border: none;
    outline: none;
}

/* 라디오 리스트 */
.radio-list {
    display: flex;
}

.radio-list li{
    margin-right: 10px;
    display: flex;
    font-size: 13px;
}

/* 폼 버튼 영역 */
.form-button-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin : 7px;
}

/* 글 작성 버튼 */
.form-button-area button,
.form-button-area a{
    width: 47px;
    height: 33px;
    border: 1px solid var(--ink);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.form-button-area button {
    margin-right: 5px;
    background-color: var(--ink);
    color: white;
}

.show{
    width: 60px !important;
    padding-left: 5px;


}