/* * {
    border: 1px solid black;
    
} */



/* 강사님의 은총_달력 section */
.calendar-section {
    display: flex;
    justify-content: center;
    margin : 10px;
}

/* 글쓰기 버튼이 있는 공간 */
.write-section{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}

/* 글쓰기 버튼 */
.writeBtn{
    /* border: 1px solid black; */
    background-color: #ccc;
    border-radius: 10px;
    padding :12px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
}

/* 일기가 있는 공간 */
.diary-section {
    border: 2px solid #aaa;
    /* padding :10px; */
    margin-top: 30px;
    margin-bottom: 60px;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

/* 제목 밑에 공개여부 & 시간 */
.title-section > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    
}

.title-section > div:nth-child(2) > *{
    padding :10px 10px 20px 10px;
    color : #aaa;
}

.title {
    padding : 40px 20px;
    font-weight: bold;
    font-size : 17px;
    border-bottom: 1px solid black;
    background-color: #ddd;
}

/* 내용이 있는 공간 */
.content{
    min-height: 200px;
    max-height: 1000px;
    overflow: auto;
    padding : 20px;
    line-height: 1.6;
}
/* 밑 공간 */
.under-section {
    height:75px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
/******* 밑공간 part1 *******/
.under1 {
    display: flex;
}
/* 이모지들 뜨고 hover하면 팝뜨는공간 */
.emoji-and-pop{
    position:relative;
    padding : 0 10px 0 10px;
    /* width: 250px; */

}
/* 사람들 나오는 팝업 */
.people-pop {
    width: 200px;
    border: 1px solid black;
    min-height: 50px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top:50px;
    left:10px;
}
.people-list {
    display: flex;
    justify-content: center;
    padding:10px;
    border-bottom: 1px solid black;
}

.profile-box{
    display: flex;
    padding : 5px;
}

.profile-box > div {
    padding-left :10px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: center;
}
/* 이모지들 모아둔 section */
.emoji-section {
    display: flex;
    /* justify-content: center; */
}
/* 하나의 이모지 & 숫자를 모아둔 곳 */
.emoji-row{
    padding-right: 5px;
}
/* 이미지를 가둔 가두리 */
.emoji-box {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 이미지 */
.emoji {
    height: 28px;
    width: 28px;
}
/* 이미지에 커서를 갖다댈 때 */
.emoji:hover{
    height:30px;
    width: 30px;
    cursor: pointer;
}
/* 숫자 */
.emoji-number{
    display: flex;
    justify-content: center;
}
/* 공감하기 버튼 */
.emoji-btn{
    cursor: pointer;
    width: 80px;
    background-color: #aaa;
    border-radius: 3px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
/* 공감하기 버튼에 커서를 갖다댈 때 */
.emoji-btn:hover{
    font-weight: bold;
}

/******* 밑공간 part2 *******/
.under2{
    display: flex;
    align-items: center;
}
.under2 > * {
    margin:0 10px;
    padding :10px;
    cursor: pointer;
    background-color: black;
    color:white;
    width:100px;
    display: flex;
    justify-content: center;
}

.under2 > div:nth-child(1){
    background-color: black;
    color:white !important;
    border-radius: 5px;
    
}
.under2 > div>a{
    color:white !important;
    
}

.under2 > a:nth-child(1){
    color:white !important;
}

.under2 > div:nth-child(2){
    background-color: white;
    color:black;
    border: 1px solid black;
    border-radius: 3px;
}
.under2 > *:hover{
    font-weight: bold;
}
/* 팝업 */
.choose-emoji-section{
    position: relative;
    display: flex;
    align-items: center;
}
.choose-emoji {
    width:250px;
    height: 50px;
    position: absolute;
    top : 40px;
    display: flex;
    border :1px solid black;
    background-color: white;
    border-radius: 10px;
    padding:3px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    z-index: 2;
}
/* .choose-emoji > div {
    display: flex;
    align-items: center;
} */

.empty {

    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty i {
    font-size: 130px;
    color: #ddd;
}

.diary-section-container{
    width: 100%;
    height: 50%;
}







