body >* {
    border: 1px solid black;
}
/* input 클릭 시 테두리 삭제 */
input:focus {outline:none;}

.modal{
    width: 600px;
    height: 800px;
    /* background-color: red; */
}

/****************************************************/
/* 뒤로가기 버튼 < */
.modal-back{
    display: inline;
    font-size: 50px;
    margin: 0 0 0 10px;
    cursor: pointer;
    /* background-color: red; */
}
/****************************************************/
/* 이미지 및 깐부찾기 */
.modal-head{
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 42px;
}
/* 이미지 설정 */
.head-img{
    width: 80px;
    height: 80px;
}
/****************************************************/
.modal-body{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 깐부찾기 / 내가 신청한 깐부 변경 버튼 */
.member-search {
    display: flex;
    width: 600px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px 0;
    /* background-color: #e53095; */
    /* background-color: gold; */
}
.member-search > a {
    height: 100%;
    width: 250px;
    /* padding: 30px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

#memberSearch {
    border-bottom: none;
    color: var(--subColor);
    font-weight: bold;
}
#memberMySearch{
    border-left: none;
    border-right: none;
    border-top: none;
}
/****************************************************/
/* 회원검색 입력박스 최상위 부모 */
.member-search-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 35px;
    /* background-color: aqua; */
    /* border: 1px solid black;
    border-radius: 6px; */
}
/* 자식 공통 적용 */
.member-search-input-div > *{
    border-radius: 6px;
    border: none;
}

/* 회원 검색 input태그 */
.member-search-input{
    height: 100%;
    width: 500px;
    border: 1px solid black;
    padding: 0 50px;
}



/* 회원 검색 버튼  */
.member-search-input-div > button{
    position: absolute;
    margin: 0 0 0 10px;
    background-color: white;
    width: 10%;
    height: 80%;
    font-weight: bold;
    right: 48px;
    cursor: pointer;
    color: var(--subColor);
    font-size: 18px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.member-search-input:focus{
    border: 2px solid var(--mainColor);
}

/****************************************************/
/* 회원 프로필 */
.mebmer-profile{
    margin-top: 10px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    width: 500px;
    height: 70px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
/* 회원 프로필 (사진,닉네임) */
.profile-head{
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 0 0 30px;
}
/* 회원 프로필 사진 */
.member-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
}

/* 신청 미니홈피 사진 */
.apply-img{
    width: 30px;
    height: 30px;
}