/* body >* {
    border: 1px solid black;
} */

/* input 클릭 시 테두리 삭제 */
input:focus {outline:none;}

/* 마우스 올리면 색상 변경 (폰트,이미지) */
.member-choice:hover {
    /* color: var(--mainColor); */
    cursor: pointer;
    filter: invert(15%) sepia(77%) saturate(6158%) hue-rotate(267deg) brightness(110%) contrast(108%);
    font-weight: bold;
}
/* 신청취소 마우스 올리면 색상 변경(폰트,이미지) */
.member-cancel:hover{
    cursor: pointer;
    filter: invert(34%) sepia(98%) saturate(4685%) hue-rotate(310deg) brightness(97%) contrast(85%);
    font-weight: bold;
}


/****************************************************/
/* 회원검색 입력박스 최상위 부모 */
.member-search-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 35px;
    /* background-color: aqua; */
    /* border: 1px solid black;
    border-radius: 6px; */
}
/* 자식 공통 적용 */
.member-search-input-div > *{
    border-radius: 6px;
    border: none;
}

/* 회원 검색 input태그 */
.member-search-input{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 0 50px;
    font-size: 18px;
}

/* 회원 검색 버튼  */
.member-search-input-div > button{
    position: absolute;
    margin: 0 0 0 10px;
    background-color: white;
    width: 10%;
    height: 80%;
    font-weight: bold;
    right: 48px;
    cursor: pointer;
    color: var(--subColor);
    font-size: 18px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

/* 회원검색창 테두리색 */
.member-search-input:focus{
    border: 2px solid var(--mainColor);
}
/****************************************************/
.mebmer-search-profile{
    margin-top: 10px;
    border-top: 1px solid black;
    width: 600px;
    height: 500px;
    overflow-y: scroll;
}

/* 회원 프로필 */
.mebmer-profile{
    border-bottom: 1px solid black;
    width: 100%;
    height: 70px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
/* 회원 프로필 (사진,닉네임) */
.profile-head{
    display: flex;
    align-items: center;
    width: 320px;
    margin: 0 0 0 20px;
}
/* 회원 프로필 사진 */
.member-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
}
/* 회원 닉네임 */
.member-nickname{
    margin: 0 10px 0 10px;
    font-size: 18px;
}

/* 회원 신청상태, 미니홈 */
.profile-body{
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin-right: 20px;
}

.profile-body > div{
    display: flex;
    align-items: center;
}

/* 미니홈피 이미지 */
.minihome-img{
    height: 20px;
}

/* 깐부 이미지 */
.friend-img{
    width: 30px;
    height: 30px;
}

/* 깐부, 신청, 수락대기 폰트이미지 */
.fa-solid, .fa-regular{
    font-size: 20px;
    margin-right: 5px;
}
