.search-result-area>div:nth-child(1){
    flex-basis: 15%;
}
.search-result-area>div:nth-child(2){
    flex-basis: 15%;
}
.search-result-area>div:nth-child(3){
    flex-basis: 15%;
}
.search-result-area>div:nth-child(4){
    flex-basis: 40%;
}
.search-result-area>div:nth-child(5){
    flex-basis: 15%;
}
#fontAddBtn {
    height: 100%;
}