/* 미니룸 헤더 */
.miniroom-header{
    margin: 0;
    border: none;
    position: relative;
}

.miniroom-deco{
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    right: 0;
    bottom: 10px;
}

/* 미니룸 */
.miniroom-container{
    width: 100%;
    height: 350px;
    margin-bottom: 35px;
    border: 2px solid var(--ink);
    position: relative;
}

.miniroom, .tile-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.miniroom{
    perspective: 500px; /* 원근감 */
}

.miniroom > div{
    border: 1px solid black;
    position: absolute;
    transform-style: preserve-3d; /* 3d객체로 인식하여 색상을 입체적으로 표현 */
}

.left{
    height: 380px;
    width: 380px;
    background-color: rgb(242, 247, 255);
    background-image: url("../../../images/help.png");
    background-size: 150px;
    background-repeat: repeat;
    top: -31px;
    left: -12px;
    transform: rotateX(345deg) rotateY(45deg) rotateZ(0deg);
}

.right{
    width: 380px;
    height: 380px;
    background-color: rgb(242, 247, 255);
    background-image: url("../../../images/help.png");
    background-size: 150px;
    background-repeat: repeat;
    top: -31px;
    right: -13px;
    transform: rotateX(345deg) rotateY(-45deg) rotateZ(0deg);
}

.bottom{
    width: 500px;
    height: 500px;
    background-color: rgb(223, 236, 255);
    background-image: url("../../../images/help.png");
    background-size: 150px;
    background-repeat: repeat;
    top: 124px;
    left: 62px;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
}

/* tile-container 영역 (좌표) */
.tile-container > div{
    width: 85px;
    height: 85px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1-1 */
#tile1{
    top: 143px;
    left: 269.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 2-1 */
#tile2{
    top: 185px;
    left: 206.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 2-2 */
#tile3{
    top: 185px;
    left: 332.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 3-1 */
#tile4{
    top: 227px;
    left: 143.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 3-2 */
#tile5{
    top: 227px;
    left: 269.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 3-3 */
#tile6{
    top: 227px;
    left: 395.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 4-1 */
#tile7{
    top: 269px;
    left: 80.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 4-2 */
#tile8{
    top: 269px;
    left: 206.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 4-3 */
#tile9{
    top: 269px;
    left: 332.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

/* 4-4 */
#tile10{
    top: 269px;
    left: 458.5px;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(45deg);
}

.empty{
    background-color: rgba(170, 0, 255, 0.097);
    border: 2px dashed rgb(160, 93, 255);
}

.already{
    background-color: rgba(255, 0, 0, 0.097);
    border: 2px dashed rgb(255, 93, 93);
}

/* 미니미, 소품 */
.prop{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 5;
}

.prop img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown {
    width: 100px;
    height: 0px;
    background-color: white;
    position: absolute;
    top: 113px;
    right: -85px;
    overflow:hidden;
    transition-duration : 0.3s;
    z-index: 20;
}

.dropdown > a{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown > a:hover{
    background-color: #ececff;
}