/* 투데이 랭킹, 내 정보 section */
section:first-child{
    display: flex;
    justify-content: space-between;
}

/* 오늘의 투데이 인기스타, 누적 투데이 랭킹 */
.star-container{
    width: 65%;
    height: 250px;
    padding: 20px;
    border: 2px rebeccapurple solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-select{
    margin-bottom: 20px;
    text-align: center;
}

.star-select > span{
    margin: 0 100px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.star-profile-container{
    display: flex;
}

.star-profile{
    align-items: center;
}

.no-last-star{
    margin-right: 50px;
}

.star-profile a{
    margin-bottom: 8px;
}

/* 프로필 공통 */
.profile-info, .star-profile{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.profile-img, .star-profile-img{
    width: 120px;
    height: 120px;
    background-color: lavender;
    border-radius: 50%;
    cursor: pointer;
}

.profile-img img, .star-profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 내 프로필, 미니홈피 가기 */
.profile-container{
    width: 30%;
    height: 250px;
    padding: 20px;
    border: 2px rebeccapurple solid;
    border-radius: 20px;
}

.profile{
    width: 100%;
    height: 72%;
    display: flex;
}

.profile-info{
    height: 120px;
    margin-left: 25px;
    padding: 10px;
    justify-content: space-between;
}

.profile-info span:first-child{
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

#home-btn{
    width: 100%;
    height: 28%;
    background-color: rebeccapurple;
    border-radius: 15px;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#home-btn:hover{
    background-color: rgb(64, 24, 106);
    transition-duration: 0.2s;
}