.place-area {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 10px;
    border: 2px var(--mainColor) solid;
    border-radius: 20px;
    text-align: center;
}

.place-area-title {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.place-title {
    width: 100%;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-overflow: ellipsis;
    display: inline-block;
    white-space : nowrap;
    overflow : hidden;
}

.slide-container {
    width: 100%;
    height: 430px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.place-list {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: left 0.5s;
}

.place-list li {
    width: 274px;
    margin:0 10px;
}

.place-item a {
    display: flex;
    flex-direction: column;
}

.place-item a span{
    margin-top: 10px;
}

.place-item:hover{
    filter: opacity(0.75);
}

.place-item img {
    width: 100%;
    height: 350px;
    border: 1px solid rgb(180, 160, 255);
    border-radius: 30px;
}

.slide-container > span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--mainColor);
    z-index: 100;
    cursor: pointer;
    opacity: 0.3;
    transition-duration: 0.1s;
}

.slide-container > span:hover {
    opacity: 0.5;
}

.slide-container > span > i {
    font-size: 20px;
    pointer-events: none;
}

.slide-container > .prev-arrow {
    display: none;
    left : 10px;
    top: calc(100% / 2 - 60px);
}

.slide-container > .next-arrow {
    right : 10px;
    top: calc(100% / 2 - 60px);
}

.shorts-select {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}