/*************************************************/
.signUpInfoLink {
    display: flex;
    width: 800px;
    height: 50px;
    margin: 70px 0 100px;
}
.signUpInfoLink > a {
    height: 100%;
    width: 400px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#findIdLink {
    border-bottom: none;
    color: var(--mainColor);
    font-weight: bold;
}
#findPwLink{
    border-left: none;
    border-right: none;
    border-top: none;
}

.findIdPw{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    width: 800px;
    margin: 30px auto;
}

/* .textbox {
    height: 60px;
    width: 600px;
    border-bottom: 3px solid #eee;

    display: flex;
    align-items: center;
    
}
.textbox> input{
    height: 96%;
    width: 500px;
    outline: none;
    border: none;
}
.textbox >i{
    margin: 0 15px;
} */ 


/*************************************************/
.questionBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 75px;
    border-bottom: 3px solid #eee;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
}



.lock{
    height: 20px;
}

.textbox {
    display: flex;
    height: 35px;
    width: 800px;

    position:relative;
    align-items: center;
}
.textbox>*:nth-child(1){
    padding: 0 20px;
    font-size: 30px;
}

.checkButton {
    position:absolute;
    right: 0;
    height: 30px;
}
.inputBox {
    /* height: 100%; */
    border:none;
    outline:none;
    font-size: 20px;
    /* padding: 15px 0; */
    width: 500px;
}
.firstBox {
    position:absolute;
    right: 0;
    bottom: 5px;
    color: #aaa;

}
#smallCube {
    height: 15px;
}
.fa-solid{
    font-size: 20px;
}

#selectText {
    position:inherit;
    display: flex;
    justify-content: space-between;
}
#selectText>span:nth-child(1){
    color: green;
}


/*************************************************/
/*회원가입하기 다음페이지 이동 버튼 */
.SignUpAgreement6{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 15px;
    margin: 50px 0 20px;
}
.SignUpAgreement6 > button{
    margin-bottom: 10px;
}
#toLoginPage {
    color: #aaa;
}

/*회원가입하기 다음페이지 이동 버튼 */
.SignUp{ 
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--mainColor);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.SignUp:hover{
    background-color: var(--subColor);
    transition-duration: 0.3s;
}

.findPwInfo {
    color: #aaa;
    margin: 20px 0;
    text-align: center;
}


.confirm{
    color: green;
}
.error{
    color: red;
}


/* id, pw hover시 */
.idHover{
    border: none !important;
    border-left: 1px solid black  !important;
    border-top : 1px solid black  !important;

    color: var(--mainColor) !important;
    font-weight: bold !important;
}
.pwHover{
    border: none  !important;
    border-top: 1px solid black  !important;
    border-right: 1px solid black  !important;

    color: var(--mainColor) !important;
    font-weight: bold !important;
}
.idNotHover{
    border: none !important;
    border-bottom: 1px solid black !important;
    border-right: 1px solid black !important;

    color: black !important;
    font-weight: normal !important;
}
.pwNotHover{
    border: none !important;
    border-bottom: 1px solid black !important;
    border-left: 1px solid black !important;
    
    color: black !important;
    font-weight: normal !important;
}