/* 미니홈 전체 크기 */
html {
    background-color: #ddd;
}
.minihome {
    width: 1200px;
    height: 715px;
    background-color: #ddd;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 미니홈 프레임 */
.minihome-frame {
    width: 1000px;
    height: 610px;
    background-color: #82C9E8;
    padding: 10px;
    border-radius: 10px;
}

/* 미니홈피 프레임 헤더 */
.minihome-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 70px;
}

/* 미니홈 헤더 왼쪽 */
.minihome-header-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 80%;
    border-radius: 5px;
}
.minihome-header-left > div {
    width: 90%;
}
/* 투데이 */
.today-area {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}
.today {
    color: red;
}
.today-area > div {
    width: 50%;
    display: flex;
    justify-content: center;
}
.today-area > div:first-child {
    border-right: 2px solid black;
}
.today-area span {
    margin-left: 8px;
}

/* 매력 지수 */
.active {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    font-weight: bold;
}
.active-range {
    position: relative;
    margin-left: 5px;
    width: 50%;
}
.active-range > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
.active-range .empty {
    border: 1px solid black;
}
.active-range .fill {
    background-color: black;
    width: 40%;
}


/* 미니홈 헤더 오른쪽 */
.minihome-header-right {
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.minihome-header-right .logo {
    background-color: white;
    display: flex;
    height: 40px;
    align-items: center;
    align-self: flex-start;
    border-radius: 5px;
}

/* 미니홈 헤더 제목 영역 */
.minihome-title-area {
    display: flex;
    align-items: center;
}
.minihome-title {
    font-size: 15px;
    padding: 10px 5px;
    width: 350px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}
#updateMinihomeTitleButton {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#confirmUpdateButton,
#cancelUpdateButton {
    padding: 5px;
    border-radius: 5px;
    display: none;
}
#confirmUpdateButton {
    margin-right: 5px;
    background-color: var(--ink);
    color: white;
}

.minihome-header-right:hover #updateMinihomeTitleButton.header-hover{
    display: block;
}

/* 미니홈피 메인(iframe, nav) */
.minihome-main {
    position: relative;
    display: flex;
    justify-content: center;
}

/* 미니홈피 메뉴 탭 */
.minihome-menu {
    position: absolute;
    top: 20px;
    right: -47px;
    display: flex;
    flex-direction: column;
}
.minihome-menu li {
    margin: 3px 0px;
    font-size: 13px;
    letter-spacing: -1px;
}
.minihome-menu li:last-of-type {
    order: 10;
}
.minihome-menu a {
    display: flex;
    padding: 10px 9px;
    border: 1px solid black;
    border-left: none;
    justify-content: center;
    background-color: #1A8DBF;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.minihome-menu a:hover {
    background-color: white;
    color: #1A8DBF;
}

/* 미니홈피 iframe */
iframe {
    width: 940px;
    height: 500px;
    background-color: white;
    margin: auto;
    border: none;
    border-radius: 10px;
}

/* 오디오 플레이어 */
.audio-container {
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 5px;
}
.music-controller {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 재생 버튼 */
#playButton {
    background-color: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* 노래 이름 */
/* #musicName {
    width: 100px;
    display: flex;
    justify-content: center;
} */

/* 볼륨 */
.music-volume-area {
    display: flex;
    align-items: center;
}
.music-volume-area i {
    font-size: 17px;
}

#volumeIcon {
    width: 20px;
    text-align: start;
}
#musicVolume {
    -webkit-appearance: none;
    width: 70px;
    /* overflow: hidden; */
    height: 7px;
    background: transparent; 
    cursor: pointer;
    background: #e5e4e3;
    border-radius: 25px; /* iOS */
}

#musicVolume:focus {
    outline: none; 
}

#musicVolume::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid var(--ink);
    border-radius:50%;
    cursor: pointer;
}

#musicVolume::-moz-range-thumb{
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background: #fff;
    border: 1px solid var(--ink);
    border-radius:50%;
    cursor: pointer;
}

/* 노래 이름 슬라이드 */
.music-name-box {
    width: 100%;
    /* margin: 60px auto; */
    text-align: center;
}
  
.marquee {
    width:100%;
    /* padding:0.5em 0; */
    overflow:hidden;
    /* background-color:#e1e1e1; */
    /* margin-bottom:10px; */
    position:relative;
    /* display: flex;
    align-items: center; */
}

.music-name {
    margin:0;
    color: var(--ink);
    font-weight: bold;
    display:inline-block;
    white-space:nowrap;
}

.marquee .music-play-marquee:after {
  content:"";
  white-space:nowrap;
  padding-right:50px;
}

.marquee .music-play-marquee {

    padding-left:205px;
    
      -webkit-animation-name:marquee;
      -webkit-animation-timing-function:linear;
      -webkit-animation-duration:10s;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-name:marquee;
      -moz-animation-timing-function:linear;
      -moz-animation-duration:10s;
      -moz-animation-iteration-count:infinite;
      -ms-animation-name:marquee;
      -ms-animation-timing-function:linear;
      -ms-animation-duration:10s;
      -ms-animation-iteration-count:infinite;
      -o-animation-name:marquee;
      -o-animation-timing-function:linear;
      -o-animation-duration:10s;
      -o-animation-iteration-count:infinite;
      animation-name:marquee;
      animation-timing-function:linear;
      animation-duration:10s;
      animation-iteration-count:infinite;
  }
  @-webkit-keyframes marquee {
    from   { -webkit-transform: translate(0%);}
    99%,to { -webkit-transform: translate(-100%);}
  }
  @-moz-keyframes marquee {
    from   { -moz-transform: translate(0%);}
    99%,to { -moz-transform: translate(-100%);}
  }
  @-ms-keyframes marquee {
    from   { -ms-transform: translate(0%);}
    99%,to { -ms-transform: translate(-100%);}
  }
  @-o-keyframes marquee {
    from   { -o-transform: translate(0%);}
    99%,to { -o-transform: translate(-100%);}
  }
  @keyframes marquee {
    from   { transform: translate(0%);}
    99%,to { transform: translate(-100%);}
  }