<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0.1" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_4_0_1.xsd">
	
	<!-- 세션 유지시간 설정  -->
	<session-config> 
		<session-timeout>1140</session-timeout> <!-- 24시간 == 1140분 -->
	</session-config>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classPath:spring/root-context.xml
			classPath:spring/spring-security.xml
			classPath:spring/email-context.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classPath:spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		
		<multipart-config>
			<location>/</location>
			<max-file-size>104857600</max-file-size> <!--1MB * 20 -->
			<max-request-size>104857600</max-request-size><!-- 40MB -->
			<file-size-threshold>104857600</file-size-threshold> <!-- 20MB -->
		</multipart-config>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 한글 깨짐 방지를 위한 인코딩 필터 추가 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  <init-param> <!-- 필드 새팅 -->
	  	<param-name>encoding</param-name>  <!-- 필드명 -->
	  	<param-value>UTF-8</param-value>   <!-- 필드 설정 값 -->
	  </init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- MultipartFilter -->
	 <filter>
		<filter-name>MultipartFilter</filter-name>
	    <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MultipartFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	

	

	
 	 <filter-mapping>
		<filter-name>loginFilter</filter-name>
	 	<url-pattern>/member/logout</url-pattern>
	 	<url-pattern>/member/findId</url-pattern>
	 	<url-pattern>/member/findPw</url-pattern>
	 	<url-pattern>/member/updateInfo</url-pattern>
	 	<url-pattern>/member/changePw</url-pattern>
	 	<url-pattern>/member/secession</url-pattern>
		<url-pattern>/manage/*</url-pattern>
		
		<url-pattern>/albumList/*</url-pattern>
		<url-pattern>/albumWrite</url-pattern>
		<url-pattern>/albumDetail/*</url-pattern>
		<url-pattern>/albumUpdate/*</url-pattern>
		<url-pattern>/boardScrap/*</url-pattern>
		
		<url-pattern>/diary/*</url-pattern>
		<url-pattern>/monthCalendar</url-pattern>
		<url-pattern>/selectDate</url-pattern>
		<url-pattern>/selectDiary</url-pattern>
		<url-pattern>/selectEmojiList</url-pattern>
		<url-pattern>/selectEmojiPeopleList</url-pattern>
		<url-pattern>/like</url-pattern>
		<url-pattern>/diaryWrite</url-pattern>
		<url-pattern>/diaryCancle/*</url-pattern>
		<url-pattern>/diaryUpdate/*</url-pattern>
		<url-pattern>/diaryDelete</url-pattern>
		<url-pattern>/like</url-pattern>
		
 		<url-pattern>/selectFolderList</url-pattern>
		<url-pattern>/guestBook</url-pattern>
		<url-pattern>/writeGuestBook</url-pattern>
		<url-pattern>/listGuestBook</url-pattern>
		<url-pattern>/secretGuestBook</url-pattern>
		<url-pattern>/deleteGuestBook</url-pattern>
		<url-pattern>/modifyGuestBook</url-pattern>
		
		<url-pattern>/memberAllSearch</url-pattern> 
		<url-pattern>/memberAddFriend</url-pattern> 
		<url-pattern>/memberAddFriendList</url-pattern> 
		<url-pattern>/memberAddCancel</url-pattern> 
		
		<url-pattern>/memberNotifications</url-pattern> 
		<url-pattern>/memberAcceptBtn</url-pattern> 
		<url-pattern>/memberCancelBtn</url-pattern> 
		<url-pattern>/activityNotification</url-pattern> 
		<url-pattern>/messageDelete</url-pattern> 
		<url-pattern>/messageDeleteAll</url-pattern> 
		<url-pattern>/alarmRead</url-pattern> 
		<url-pattern>/notificationsCount</url-pattern> 
		<url-pattern>/cubespace/*</url-pattern> 
		<url-pattern>/shopNewGoods</url-pattern> 
		<url-pattern>/shopPopularGoods</url-pattern> 
		<url-pattern>/miniMusicPlyer</url-pattern> 
		
		<url-pattern>/selectreportedMember</url-pattern> 
		<url-pattern>/reportingMember</url-pattern> 
		<url-pattern>/emotion</url-pattern> 
		<url-pattern>/updateProfile</url-pattern> 
		<url-pattern>/friendFlag</url-pattern> 
		<url-pattern>/insertMessage</url-pattern> 
		<url-pattern>/deleteMessage</url-pattern> 
		<url-pattern>/updateMinihomeTitle</url-pattern> 
		<url-pattern>/selectMusic</url-pattern> 
		
		<url-pattern>/videoList/*</url-pattern> 
		<url-pattern>/videoDetail/*</url-pattern> 
		<url-pattern>/videoWrite</url-pattern> 
		<url-pattern>/videoUpdate/*</url-pattern> 
		<url-pattern>/videoDelete/*</url-pattern> 
	</filter-mapping>  
		
 	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>  
	

</web-app>
