header {
    display: flex;
}
.slide-container {
    display: flex;
    justify-content: center;
    height: 83%;
    position: relative;
}
.swiper-container {
    border: 1px solid #ddd;
    width: 60%;
    height: 100%;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    /* width: 345px; */
    height: 100%;
    width: 100%;
}
.swiper-slide img {
    height: 100%;
    width: 100%;
}
/* 페이지네이션 */
.swiper-pagination {
    position: absolute;
    bottom: 0px;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0px 3px;
    background-color: black;
}
/* 네비게이션 */
.button-prev,
.button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--ink);
    opacity: 0.3;
    position: absolute;
    cursor: pointer;
}
.button-prev:hover,
.button-next:hover {
    opacity: 0.7;
}

.button-prev {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.button-next {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.detail-subtitle {
    margin-bottom: 8px;
    font-size: 15px;
    display: flex;
}
.detail-subtitle > span {
    padding: 7px 0px;
}
.detail-open-flag {
    width: 70px;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    margin-right: 10px;
}
.detail-create-date {
    font-size: 13px;
    color: grey;
    margin-left: auto;
}

.detail-title-area {
    word-break: break-all;
    white-space: pre-wrap;
}
/* 앨범 내용 영역 */
.album-content {
    margin: 10px 0px;
    word-break: break-all;
    white-space: pre-wrap;
}

/* 앨범 내용 푸터 */
.album-detail-footer {
    display: flex;
    align-items: center;
}
.location {
    color: grey;    
    font-size: 15px;
}
.location i {
    font-size: 17px;
    color: var(--mainColor);
}

.album-button-area {
    margin-left: auto;
}
.album-button-area > * {
    background-color: transparent;
    border: none;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
}

#goToList {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}